/* ------- Manrope -------- */
@import url("https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800&display=swap");
/* ------- GeneralSans ------- */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@font-face {
  font-family: "GeneralSans-Medium";
  src: url("../fonts/general-sans/GeneralSans-Medium.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Medium.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-Semibold";
  src: url("../fonts/general-sans/GeneralSans-Semibold.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Semibold.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-Variable";
  src: url("../fonts/general-sans/GeneralSans-Variable.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-Variable.woff") format("woff"), url("../fonts/general-sans/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "GeneralSans-VariableItalic";
  src: url("../fonts/general-sans/GeneralSans-VariableItalic.woff2") format("woff2"), url("../fonts/general-sans/GeneralSans-VariableItalic.woff") format("woff"), url("../fonts/general-sans/GeneralSans-VariableItalic.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}
/* ------- DM Sans ------- */
/* ------- Plus Jakarta Sans ------- */
/* ------- Montserrat ------- */
:root {
  --primary-50: rgb(230, 240, 255);
  --primary-100: rgb(176, 208, 255);
  --primary-200: rgb(138, 185, 255);
  --primary-300: rgb(84, 152, 255);
  --primary-400: rgb(51, 133, 255);
  --primary-500: rgb(0, 102, 255);
  --primary-600: rgb(0, 93, 232);
  --primary-700: rgb(0, 72, 181);
  --primary-800: rgb(0, 56, 140);
  --primary-900: rgb(0, 43, 107);
  --neutral-50: rgb(237, 238, 240);
  --neutral-100: rgb(198, 202, 209);
  --neutral-200: rgb(170, 177, 186);
  --neutral-300: rgb(132, 141, 155);
  --neutral-400: rgb(108, 119, 135);
  --neutral-500: rgb(71, 85, 105);
  --neutral-600: rgb(65, 77, 96);
  --neutral-700: rgb(50, 60, 75);
  --neutral-800: rgb(39, 47, 58);
  --neutral-900: rgb(30, 36, 44);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}

body {
  color: var(--neutral-500);
  line-height: 1;
  font-family: "Manrope";
  font-size: 16;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Manrope";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fafafa;
  padding-bottom: 200px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.open {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

/* Display/D1 */
.d1 {
  font-family: "GeneralSans-Variable";
  line-height: 67px;
}

/* Heading/H1 */
.H1 {
  font-family: "GeneralSans-Variable";
  font-size: calc(0px + 0 * (100vw - 320px) / 1600);
  line-height: calc(0px + 0 * (100vw - 320px) / 1600);
  font-size: 60px;
  line-height: 67px;
  color: var(--neutral-900);
}

/* Heading/H2 */
.H2 {
  font-family: "GeneralSans-Variable";
  font-size: calc(30px + 26 * (100vw - 320px) / 1600);
  line-height: calc(36px + 31 * (100vw - 320px) / 1600);
  color: var(--neutral-900);
}

/* Heading/H3 */
.H3-M {
  font-family: "GeneralSans-Variable";
  font-size: calc(0px + 0 * (100vw - 320px) / 1600);
  line-height: calc(0px + 0 * (100vw - 320px) / 1600);
  font-size: 40px;
  line-height: 67px;
  color: var(--neutral-900);
}

/* Heading/H4-SB */
.H4-M {
  font-family: "GeneralSans-Variable";
  font-size: calc(0px + 0 * (100vw - 320px) / 1600);
  line-height: calc(0px + 0 * (100vw - 320px) / 1600);
  font-size: 30px;
  line-height: 67px;
  color: var(--neutral-900);
}

/* Heading/H4-SB */
.H5-M {
  font-family: "GeneralSans-Variable";
  font-size: calc(16px + 8 * (100vw - 320px) / 1600);
  line-height: calc(22px + 45 * (100vw - 320px) / 1600);
  color: var(--neutral-900);
}

/* blocks */
.hero {
  background-image: url(../img/Backgroudn-Gradient-Header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: calc(12px + 0 * (100vw - 320px) / 1600);
  padding-bottom: calc(12px + 0 * (100vw - 320px) / 1600);
  padding-left: calc(5px + 67 * (100vw - 320px) / 1600);
  padding-right: calc(5px + 67 * (100vw - 320px) / 1600);
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
}
@media (max-width: 991px) {
  .hero__menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}
.hero__menu--logo {
  width: calc(127px + 60 * (100vw - 320px) / 1600);
}
.hero__menu--logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__menu--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0px;
  gap: calc(10px + 30 * (100vw - 320px) / 1600);
  max-width: 523px;
  height: 24px;
  padding: 25px 10px;
}
@media (max-width: 991px) {
  .hero__menu--links {
    display: none;
  }
}
@media (min-width: 1610px) {
  .hero__menu--links {
    gap: 20px;
  }
}
.hero__menu--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutral-800);
}
.hero__menu--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 24px;
  margin-left: calc(0px + 16 * (100vw - 320px) / 1600);
  width: calc(147px + 40 * (100vw - 320px) / 1600);
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 100px;
}
@media (max-width: 991px) {
  .hero__menu--btn {
    display: none;
  }
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: calc(25px + 25 * (100vw - 320px) / 1600);
  padding-bottom: calc(25px + 12 * (100vw - 320px) / 1600);
}
.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 24px;
  gap: 8px;
  width: 329px;
  height: 40px;
  background: #ffffff;
  border-radius: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-900);
}
.hero__title {
  max-width: 846px;
  height: calc(124px + 48 * (100vw - 320px) / 1600);
  font-style: normal;
  font-weight: 500;
  font-size: calc(32px + 40 * (100vw - 320px) / 1600);
  line-height: calc(42px + 44 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--primary-900);
}
@media (min-width: 2042px) {
  .hero__title {
    max-width: 1046px;
    height: 252px;
  }
}
.hero__description {
  max-width: 430px;
  height: 48px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: rgb(64, 76, 97);
}
.hero__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 28px;
  padding-bottom: calc(26px + 26 * (100vw - 320px) / 1600);
}
@media (max-width: 644px) {
  .hero__search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: calc(8px + 8 * (100vw - 320px) / 1600);
  max-width: 499px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ededed;
  -webkit-box-shadow: 8px 8px 56px rgba(0, 0, 0, 0.05);
          box-shadow: 8px 8px 56px rgba(0, 0, 0, 0.05);
  border-radius: 56px;
}
.hero__search-form input[type=text]:nth-child(1) {
  text-align: center;
  border: none;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
}
.hero__search-form input[type=text]:nth-child(2) {
  text-align: center;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid #000;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
}
.hero__search-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 48px;
  gap: 8px;
  width: 151px;
  height: 56px;
  background: var(--primary-500);
  border: 1px solid var(--primary-500);
  border-radius: 100px;
}
.hero__slider {
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
}
.hero__slider-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  display: flex;
}
.hero__slider-item img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.burger-menu__container {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.burger-menu__btn {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  font-weight: 800;
  border: 1px solid rgba(164, 151, 243, 0.95);
  border-radius: 10px;
  background-color: rgba(164, 151, 243, 0.75);
  border-radius: 10px;
}
@media (min-width: 992px) {
  .burger-menu {
    display: none;
  }
}
.burger-menu__nav li {
  color: var(--neutral-900);
}

@media (max-width: 991px) {
  .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .burger-menu__btn {
    z-index: 10;
  }
  .burger-menu__nav {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 270px;
    width: 270px;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 50px 0px;
    text-transform: uppercase;
    color: var(--neutral-800);
    font-weight: bold;
    background-color: rgba(164, 151, 243, 0.95);
    -webkit-animation: burgerAnimation 0.5s;
            animation: burgerAnimation 0.5s;
    row-gap: 30px;
    border-radius: 10px;
  }
  .burger-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 220px;
  }
}
@-webkit-keyframes burgerAnimation {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes burgerAnimation {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.seekers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(30px + 58 * (100vw - 320px) / 1600);
}
@media (min-width: 1972px) {
  .seekers__container {
    padding-top: 20px;
  }
}
.seekers__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 482px;
  max-height: 134px;
  font-weight: 500;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
@media (min-width: 1972px) {
  .seekers__title {
    max-height: 254px;
  }
}
.seekers__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 388px;
  max-height: 48px;
  color: #6c7787;
}
.seekers__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 4px 4px 24px;
  gap: 16px;
  width: 144px;
  height: 48px;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) padding-box, -webkit-gradient(linear, left top, right top, from(#0ac2ff), color-stop(#ffcf00), color-stop(#fc4f4f), color-stop(#00c0ff), to(#6c7787)) border-box;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #0ac2ff, #ffcf00, #fc4f4f, #00c0ff, #6c7787) border-box;
  border-radius: 100px;
  border: 2px solid transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: calc(20px + 20 * (100vw - 320px) / 1600);
  margin-bottom: calc(40px + 40 * (100vw - 320px) / 1600);
  -webkit-animation: slidebg 10s linear infinite;
          animation: slidebg 10s linear infinite;
}
@-webkit-keyframes slidebg {
  to {
    background-position: 30vw;
  }
}
@keyframes slidebg {
  to {
    background-position: 30vw;
  }
}

.tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 10px;
  gap: 8px;
  max-height: 200px;
  border-bottom: 1px solid var(--neutral-100);
  padding-top: calc(10px + 30 * (100vw - 320px) / 1600);
}

.tab-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 8px;
  padding: 5px;
  height: 48px;
  width: calc(100px + 70.29 * (100vw - 320px) / 1600);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 10px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  -webkit-box-shadow: 3px 5px 8px #bebebe, -20px -20px 60px #ffffff;
          box-shadow: 3px 5px 8px #bebebe, -20px -20px 60px #ffffff;
  font-weight: 400;
  line-height: 24px;
  color: var(--neutral-700);
}

.nav-active {
  font-weight: 500;
  line-height: 24px;
  color: #0066ff;
  background: linear-gradient(145deg, rgba(230, 240, 255, 0), #e6f0ff);
  -webkit-box-shadow: 3px 5px 8px #0066ff, -20px -20px 60px #ffffff;
          box-shadow: 3px 5px 8px #0066ff, -20px -20px 60px #ffffff;
  border-bottom: 1px solid #0066ff;
}

.tab-content__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  gap: 24px;
  padding-top: 40px;
}
.tab-content__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 24px 16px;
  gap: 21px;
  isolation: isolate;
  border: 1px solid var(--primary-50);
  border-radius: 20px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  -webkit-box-shadow: 3px 5px 8px var(--primary-50), -3px -5px 8px #ffffff;
          box-shadow: 3px 5px 8px var(--primary-50), -3px -5px 8px #ffffff;
}
.tab-content__card:hover {
  border: 1px solid var(--neutral-100);
  background: linear-gradient(145deg, #f6ffff, #a3aab5);
  -webkit-box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;
          box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;
}
.tab-content__card-img {
  width: 64px;
  height: 64px;
}
.tab-content__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.tab-content__card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: calc(5px + 16 * (100vw - 320px) / 1600);
  color: var(--neutral-800);
}
.tab-content__card-name {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(10px + 20 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--neutral-900);
}
.tab-content__card-jobTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(3px + 15 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--neutral-500);
}
.tab-content__card-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 200;
  font-style: italic;
  border: 1px solud var(--neutral-900);
  border-radius: 50px;
}

.card-active {
  background: #e6f0ff;
  border: 1px solid #8ab9ff;
  background: linear-gradient(145deg, #f6ffff, #cfd8e6);
  -webkit-box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;
          box-shadow: 5px 5px 22px #8a9099, -5px -5px 22px #ffffff;
}

.features {
  background-color: #ffffff;
}
.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(28px + 60 * (100vw - 320px) / 1600);
  padding-bottom: calc(28px + 60 * (100vw - 320px) / 1600);
}
.features__title {
  max-width: 534px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.features__description {
  max-width: 502px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  color: var(--neutral-600);
  padding-top: calc(10px + 6 * (100vw - 320px) / 1600);
  padding-bottom: calc(63px + 20 * (100vw - 320px) / 1600);
}
.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-image: url(../img/background-features.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  gap: calc(28px + 28 * (100vw - 320px) / 1600);
}
@media (max-width: 768px) {
  .features__row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.features__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  max-width: 270px;
}
.features__block:nth-child(1) {
  padding-top: calc(50px + 69 * (100vw - 320px) / 1600);
}
.features__block:nth-child(2) {
  padding-top: 53px;
}
.features__block-card-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  max-width: 260px;
  height: 228px;
  background: #ffffff;
  border: 1px solid var(--neutral-50);
  -webkit-box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
          box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
  border-radius: 20px;
  gap: 12px;
}
.features__block-card-1 h3 {
  font-weight: 700;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  line-height: calc(20px + 10 * (100vw - 320px) / 1600);
  text-align: center;
  color: var(--neutral-900);
}
.features__block-card-1 p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--neutral-600);
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.features__block-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  max-width: 102px;
  height: 54px;
  background: var(--primary-400);
  border: 1px solid var(--primary-400);
  border-radius: 100px;
  /* text */
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.features__block-card-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 260px;
  height: 93px;
  padding: 16px;
  gap: 12px;
  background: #ffffff;
  border: 1px solid var(--neutral-50);
  -webkit-box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
          box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
  border-radius: 20px;
}
.features__block-card-text h3 {
  font-weight: 700;
  font-size: calc(16px + 4 * (100vw - 320px) / 1600);
  line-height: calc(20px + 10 * (100vw - 320px) / 1600);
  color: var(--neutral-900);
}
.features__block-card-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 18px */
  text-align: center;
  color: var(--neutral-600);
}
.features__video {
  max-width: 349px;
  max-height: 572px;
  border-radius: 20px;
}
.features__video img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: calc(28px + 60 * (100vw - 320px) / 1600);
}
.clients__title {
  max-width: 657px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: var(--neutral-900);
}
.clients__description {
  max-width: 657px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--neutral-600);
  padding-top: 16px;
}
.clients__img {
  padding-top: calc(20px + 20 * (100vw - 320px) / 1600);
}
.clients__img img {
  width: 100%;
  height: 100%;
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  gap: calc(40px + 40 * (100vw - 320px) / 1600);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: calc(8px + 80 * (100vw - 320px) / 1600);
}
@media (max-width: 1140px) {
  .works__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.works__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.works__column:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 620px;
  gap: calc(15px + 15 * (100vw - 320px) / 1600);
}
.works__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  gap: 40px;
  width: 620px;
  background-image: url(../img/works2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
}
@media (max-width: 650px) {
  .works__column:nth-child(2) {
    width: 550px;
  }
}
@media (max-width: 550px) {
  .works__column:nth-child(2) {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .works__column:nth-child(2) {
    background-image: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.works__column-title {
  max-width: 581px;
  font-style: normal;
  font-weight: 500;
  -moz-text-align-last: left;
       text-align-last: left;
  justify-self: center;
  padding-bottom: calc(0px + 18 * (100vw - 320px) / 1600);
}
@media (max-width: 1140px) {
  .works__column-title {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
  max-width: 600px;
}
.works__row span {
  font-family: "GeneralSans-Variable";
  font-weight: 500;
  font-size: calc(50px + 58 * (100vw - 320px) / 1600);
  line-height: calc(120px + 10 * (100vw - 320px) / 1600);
  color: var(--neutral-900);
  opacity: 0.15;
}
.works__row img {
  width: 56px;
  height: 56px;
  cursor: pointer;
}
.works__row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: calc(12px + 12 * (100vw - 320px) / 1600);
  gap: calc(8px + 8 * (100vw - 320px) / 1600);
  max-width: 467px;
  max-height: 135px;
  background: #ffffff;
  border: 1px solid var(--neutral-50);
  -webkit-box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
          box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
  border-radius: 20px;
}
.works__row-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.works__row-text h3 {
  font-weight: 500;
}
.works__row-text p {
  font-weight: 400;
  font-size: calc(12px + 4 * (100vw - 320px) / 1600);
  line-height: calc(10px + 14 * (100vw - 320px) / 1600);
  color: var(--neutral-600);
}
.works__row-1 {
  max-width: 214px;
  border-radius: 20px;
}
.works__row-1 img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.works__row-2 {
  width: 281px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
  gap: 16px;
  max-width: 281px;
  background: rgba(255, 255, 255, 0.51);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border: 1px solid var(--neutral-50);
  -webkit-box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
          box-shadow: 10px 25px 100px rgba(0, 43, 107, 0.25);
  border-radius: 20px;
}
.works__row-img {
  margin-left: -30px;
}
.works__row-img :nth-child(-n+1) {
  margin-left: 30px;
}
.works__row-1-text h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #0066ff;
}
.works__row-1-text p {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: var(--neutral-600);
}

.showcase__container {
  padding-top: calc(28px + 60 * (100vw - 320px) / 1600);
}
.showcase__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.showcase__title {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  padding-bottom: calc(20px + 20 * (100vw - 320px) / 1600);
}
.showcase__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  padding-top: calc(20px + 20 * (100vw - 320px) / 1600);
  padding-bottom: calc(10px + 30 * (100vw - 320px) / 1600);
}
.showcase__pagination-prev {
  cursor: pointer;
}
.showcase__pagination-next {
  cursor: pointer;
}
.showcase__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(4px + 10 * (100vw - 320px) / 1600);
  gap: 1%;
  border-radius: 20px;
  padding: 5px;
  height: 100%;
  min-width: 81px;
  max-width: 1240px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.showcase__portfolio-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2%;
          flex: 0 0 2%;
  min-width: 5%;
  height: 603px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-box-flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: -webkit-box-flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  transition: flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), -webkit-box-flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), -ms-flex 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  -webkit-filter: grayscale(80%);
          filter: grayscale(80%);
}
.showcase__portfolio-item video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.61) 0px 1px 5px;
          box-shadow: rgba(0, 0, 0, 0.61) 0px 1px 5px;
  border-radius: 20px;
}
.showcase__portfolio-content {
  opacity: 0;
  margin-top: -250px;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  z-index: 50;
  padding: 10px;
}
.showcase__portfolio-content h3 {
  font-family: "GeneralSans-Variable";
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.showcase__portfolio-content p {
  font-family: "Manrope";
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutral-50);
}

.expanded {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-filter: none;
          filter: none;
}
.expanded .showcase__portfolio-content {
  max-width: 250px;
  max-height: 300px;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  margin-top: -170px;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
  z-index: 100;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-backdrop-filter: blur(6px) saturate(180%);
          backdrop-filter: blur(6px) saturate(180%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 375px) {
  .expanded .showcase__portfolio-content {
    margin-top: -190px;
  }
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: calc(28px + 60 * (100vw - 320px) / 1600);
}
.testimonials__title {
  font-weight: 500;
  padding-bottom: 40px;
}
.testimonials__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 550px;
  max-width: 100%;
  overflow: hidden;
}
.testimonials__inner {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1240px;
}
.testimonials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 16px;
  gap: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  height: 500px;
  background: #1e242c;
  border-radius: 20px;
}
.testimonials__item-left p {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.testimonials__item-left span {
  font-family: "GeneralSans-Variable";
  font-weight: 700;
}
.testimonials__item-left h3 {
  font-family: "GeneralSans-Variable";
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
}
.testimonials__item-img {
  height: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  border-radius: 20px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.testimonials__item-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 150px;
  padding-left: 15%;
  margin-top: -88px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.testimonials__pagination-prev, .testimonials__pagination-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 10px;
  width: 64px;
  height: 64px;
  background: var(--neutral-50);
  border-radius: 100px;
  color: #1e242c;
  font-weight: 800;
  font-size: 24px;
}
.testimonials__pagination-prev:hover, .testimonials__pagination-next:hover {
  background: #0066ff;
}/*# sourceMappingURL=style.css.map */